fastapi==0.103.0
pydantic[email]==1.10.12
uvicorn==0.23.0
celery[redis]==5.3.1
flower==2.0.0
pydantic-geojson 0.1.1
geopandas==0.13.2

# Fiona
# geomet
# billiard
# amqp
# kombu
# kiwisolver
# matplotlib
# munch
# numpy
# packaging
# pandas
# Pillow
# psycopg2-binary
# pygeos
# pyparsing
# pyproj
# pyshp
# python-dateutil
# rasterio
# redis
# requests
# rioxarray
# scipy
# Shapely
# urllib3
# visvalingamwyatt
# Werkzeug
# xarray